* {
    margin: 0;
    padding: 0;
}

body {
    font: 400 16px/24px Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    background: linear-gradient(to right, #006eff, #000080);
    color: rgba(0, 0, 0, .5);
    text-align: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    font-size: 30pt;
    line-height: initial;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 100%;
}

h3 {
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp {
    margin: .2em 1em;
    height: 5em;
    width: 5em;
    border: none;
    background: transparent;
}

label {
    letter-spacing: normal;
}

.sliderHolder {
    flex-direction: column;
}

.sliderHolder,
#code {
    font-family: inherit;
    margin: 1rem;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(5px);
    color: #aaaaaa;
    padding: 1rem;
}

#code {
    user-select: all;
}

.p {
    padding: 4rem 2rem 0;
}